%h1 Listing bands

%table
  %tr
    %th Url
    %th E
    %th Subdomain
    %th Name
    %th Offsite url
    %th
    %th
    %th

  - @bands.each do |band|
    %tr
      %td= band.url
      %td= band.e_id
      %td= band.subdomain
      %td= band.name
      %td= band.offsite_url
      %td= link_to 'Show', band
      %td= link_to 'Edit', edit_band_path(band)
      %td= link_to 'Destroy', band, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Band', new_band_path
