%p#notice= notice

%p
  %b Url:
  = @band.url
%p
  %b E:
  = @band.e_id
%p
  %b Subdomain:
  = @band.subdomain
%p
  %b Name:
  = @band.name
%p
  %b Offsite url:
  = @band.offsite_url

= link_to 'Edit', edit_band_path(@band)
\|
= link_to 'Back', bands_path
