%h1 New Music

.container
  = form_tag music_path do
    - if @music.errors.any?
      #error_explanation
        %h2= "#{pluralize(@music.errors.count, "error")} prohibited this from being saved:"
        %ul
          - @music.errors.full_messages.each do |msg|
            %li= msg

    .field
      = label_tag 'url', "URL"
      = text_field_tag 'url', '', :placeholder => "ex: http://featurelessghost.bandcamp.com/album/new-moods"
      %p.tip Only accepts Bandcamp track, Bandcamp album, Soundcloud track, or Soundcloud set links.
    .field
      = label_tag 'tags'
      = text_field_tag 'raw_tags', '', :placeholder => "ex: 2011, dance, dark, electronic, featureless ghost, ghost, house, new wave, synthpop, Atlanta"
      %p.tip Comma seperated list of tags.
    .actions
      = submit_tag 'Add your music', class: 'btn btn-primary'
