%p#notice= notice

%p
  %b User:
  = @playlist.user_id
%p
  %b Session:
  = @playlist.session_id
%p
  %b Search term:
  = @playlist.search_term

= link_to 'Edit', edit_playlist_path(@playlist)
\|
= link_to 'Back', playlists_path
