!!!
%html
  %head
    %title Mavin.fm | The smartest way to discovery independent musicians!
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = csrf_meta_tags
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15210525-11']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    %h1= image_tag "logo.png"
    %ul#user-nav
      - if current_user
        %li= link_to current_user.username, "/#user/#{current_user.username}"
        %li= link_to 'log out', destroy_user_session_path, :method => :delete
      - else
        %li= link_to 'log in', new_user_session_path
        %li= link_to 'sign up', new_user_registration_path
    = yield

    #footer &copy; 2012 Mavin.fm
